/*.content {
  box-sizing: border-box;
  width: 100%;
  min-width: 1100px;
  min-height: 100px;
  margin: 0 auto;

}*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  /*text-decoration-skip-ink: none;*/
  text-underline-offset: 4px;
}

.header__logo__image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  margin-right: 39px;
}

.address__link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: auto 757px;
} 

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  padding: 165px 50px 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase; 
}

.accent__span {
  display: block;
}

.align__text_center {
  line-height: 155px;
  text-align: center;
}

.align__text_right {
  text-align: right;
}

.letter__spacing {
  letter-spacing: 0;
}

.cover__description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 106px 50px 50px 50px;
}

.cover__description-text{
  position:relative;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.button {
  position:relative;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 596px;
  margin-top: 27px;
  list-style: none;
}

.card__link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 334px;
  height: 596px;
}

.card__film {
  background-image: url(/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card__book {
  background-image: url(/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card__picture {
  background-image: url(/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  margin-top: 48px;
  position: relative;
  width: 254px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  width: 254px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 48px;
}

.lots__link__look-more {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-top: 30px;
  margin-left: 40px;
  text-underline-offset: 4px;
}

.about {
  margin: 120px 24px 180px;
  display: grid;
  grid-template-columns: min-content 1fr;
  /*grid-template-rows: repeat (2, 1fr);*/
 /* justify-items: center;*/
  align-items: center;
  grid-template-areas:
  "about__logo about__title"
  ". about__text";
}

.about__logo{
  grid-area: about__logo;
  width: 334px;
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-img{
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: about__title;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-top: 45px;
  padding-left: 25px;
}

.about__text {
  grid-area: about__text;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  padding-left: 25px;
  padding-top: 8px;
  padding-right: 5px;
}

.about__text-first-paragraph {
  padding-bottom: 24px;
}